<div class="row">
  <div class="col-xs-2 col-xs-offset-2">
    {{this.modelName}}
  </div>
  <div class="col-xs-4">
    {{this.propertyNameDisplay}}
    ?
  </div>
  <div class="col-xs-2">
    <div class="text-center {{this.result}}">
      {{this.result}}
    </div>
  </div>
</div>
{{#unless this.result}}
  {{#each this.reason as |lineReason|}}
    <div class="row">
      <div class="col-xs-12 text-center red">
        {{lineReason}}
      </div>
    </div>
  {{/each}}
{{/unless}}